<h1 style="margin:20px auto;">
  Statistics overview
</h1>

<div id="myfusioncharts">

	<div class="row">

	  <div class="col-sm-12">
		<fusioncharts
			width="100%"
			height="600"
			type="candlestick"
			[dataSource]="dataSource11">
		</fusioncharts>
	  </div>

	</div>

	<div class="row">

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="angulargauge"
			[dataSource]="dataSource9">
		</fusioncharts>
	  </div>

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="cylinder"
			[dataSource]="dataSource10">
		</fusioncharts>
	  </div>

	</div>

	<div class="row">

	  <div class="col-sm-12">
		<fusioncharts
			width="100%"
			height="600"
			type="candlestick"
			[dataSource]="dataSource8">
		</fusioncharts>
	  </div>

	</div>

	<div class="row">

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="mscombi2d"
			[dataSource]="dataSource6">
		</fusioncharts>
	  </div>

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="mscombi2d"
			[dataSource]="dataSource">
		</fusioncharts>
	  </div>

	</div>

	<div class="row" style="margin-top:20px;">
	  <div class="col-sm-12">
		<fusioncharts
			width="100%" 
			height="600"
			type="bar2d"
			[dataSource]=dataSource7>
		</fusioncharts>
	  </div>
	</div>

	<div class="row" style="margin-top:20px;">
	  <div class="col-sm-12">
		<fusioncharts
			width="100%" 
			height="600"
			type="pie2d"
			[dataSource]=dataSource3>
		</fusioncharts>
	  </div>
	</div>

	<div class="row" style="margin-top:20px;">

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="pie2d"
			[dataSource]="dataSource4">
		</fusioncharts>
	  </div>

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="pie2d"
			[dataSource]="dataSource5">
		</fusioncharts>
	  </div>

	</div>

	<div class="row" style="margin-top:20px;">

	  <div class="col-sm-6">
		<fusioncharts
			width="100%"
			height="600"
			type="mscombi2d"
			[dataSource]="dataSource2">
		</fusioncharts>
	  </div>

	</div>

</div>
